<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()" fill="clear">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Upcoming Functionalities
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p style="    text-align: justify;
  padding: 2px 12px; font-size: 19px;
">
  This Is the First Initial Version, For this kind 
  from Upcoming Days , i try to update and share the code is Github.
  Thank u! <br/><br/>


  1.Inventory Management <br/>
  2.Optimized Codes <br/>
  3.Quantity Maintenance<br/>
  4.BackUp the DataBase<br/>
  5.Google Authendication<br/>
  6.Role Based Authendication<br/>
  7.Inline Styles will be updated<br/>
</p>

For More Information and / or If you want to Support Me <a href="https://bee2tech.xyz/support" >Support</a>
</ion-content>
