<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title><span>Shop Name </span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="invoiceDetails">
      <ion-col size="12">
        <h4 class="detailHead">Order Details</h4>
        <ion-row>
          <ion-col size="8" class="detailHeading ion-text-left">
            <h5>Invoice Number</h5>
            <h5>Total Items</h5>
            <h5>Purchase Date</h5>
          </ion-col>
          <ion-col size="4" class="detailValues ion-text-right">
            <h4 class="totalItems">{{purchase.invoice}}</h4>
            <h4 class="totalItems">2</h4>
            <h4 class="fromDate">21-05-1995</h4>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="invoiceDetails">
      <ion-col size="12">
        <h4 class="detailHead">Seller Details</h4>
        <ion-row>
          <ion-col size="5" class="detailHeading ion-text-left">
            <h5>Seller Name</h5>
            <h5>Seller Mobile</h5>
            <h5>Seller GST</h5>
            <h5>Seller address</h5> 
          </ion-col>
          <ion-col size="7" class="detailValues ion-text-center">
            <h4 class="totalItems">chandru</h4>
            <h4 class="totalItems">826868928</h4>
            <h4 class="fromDate">AZKPC3271C</h4>
            <h4 class="fromDate">ottan kovil, komarapalayam</h4>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="invoiceDetails">
      <ion-col size="12">
        <h4 class="detailHead">Item Details</h4>
        <ion-row class="itemHead">
          <ion-col size="4.5" class="itemHeading ion-text-left">
            <h5>Item Name</h5>
          </ion-col>
          <ion-col size="2.5" class="itemHeading ion-text-center">
            <h5>Price</h5>
          </ion-col>
          <ion-col size="2.5" class="itemValues ion-text-center">
            <h4>Quantity</h4>
          </ion-col>
          <ion-col size="2.5" class="itemValues ion-text-right">
            <h4>Total</h4>
          </ion-col>
        </ion-row>
        <ion-row class="itemDetails" *ngFor="let list of details">
          <ion-col size="4.5" class="itemHeading ion-text-left">
            <h5>{{list.itemName}}</h5>
          </ion-col>
          <ion-col size="2.5" class="itemValues ion-text-center">
            <h4>{{list.quantity}}</h4>
          </ion-col>
          <ion-col size="2.5" class="itemValues ion-text-center">
            <h4>{{list.quantity}}</h4>
          </ion-col>
          <ion-col size="2.5" class="itemValues ion-text-right">
            <h4>{{list.quantity}}</h4>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>


    <ion-row class="invoiceDetails">
      <ion-col size="6" class="priceHead ion-text-left">
        <h5>Total Price</h5>
        <h5 class="useCoupon">Discount</h5>
      </ion-col>
      <ion-col size="6" class="priceDetails ion-text-right">
        <h4 class="totalPrice">Rs. 10000</h4>
        <h4 class="coupon">(-) Rs. <span>0</span></h4>
      </ion-col>
    </ion-row>
    <ion-row class="invoiceDetails">
      <ion-col size="6" class="grandHead ion-text-left">
        <h5>Grand Total</h5>
      </ion-col>
      <ion-col size="6" class="grandDetails ion-text-right">
        <h4 class="grandPrice">Rs. <span>10000</span></h4>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->

<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons  slot="start">
      <ion-button (click)="dismiss()"  slot="icon">
        <ion-icon class="icon" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <div id="PrintInvoice" class="invoice-box"
    style="max-width: 800px;margin: auto;padding: 30px;border: 1px solid #eee;box-shadow: 0 0 10px rgba(0, 0, 0, .15);font-size: 16px;line-height: 24px;font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;color: #555;">
    <ion-title class="title-ios ion-text-capitalize" style="text-align: center;">Order Invoice</ion-title>
    <table cellpadding="0" cellspacing="0" style="width: 100%;line-height: inherit;text-align: left;">
      <tr class="top">
        <td colspan="2" style="padding: 5px;vertical-align: top;">
          <table style="width: 100%;line-height: inherit;text-align: left;">
            <tr>

              <td style="padding: 5px;vertical-align: top;text-align: right;padding-bottom: 20px;">
                Invoice: {{purchase.invoice}}<br>
                Created: {{purchase.purchaseDate}}<br>
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <tr class="information">
        <td colspan="2" style="padding: 5px;vertical-align: top;">
          <table style="width: 100%;line-height: inherit;text-align: left;">
            <tr>
              <td style="padding: 5px;vertical-align: top;padding-bottom: 40px;">
                <b> Address:</b><br>
                {{seller.address1}}
              </td>

              <td style="padding: 5px;vertical-align: top;text-align: right;padding-bottom: 40px;">
                <b> Seller:</b><br>
                {{seller.sellerName}}<br>
                {{seller.mobile}}<br>
                {{seller.gst}}<br>
              </td>
            </tr>
          </table>
        </td>
      </tr>


    
      <tr class="heading">
        <td style="padding: 5px;vertical-align: top;background: #eee;border-bottom: 1px solid #ddd;font-weight: bold;">
          Item
        </td>

        <td style="padding: 5px;vertical-align: top;background: #eee;border-bottom: 1px solid #ddd;font-weight: bold;">
          Price
        </td>

        <td style="padding: 5px;vertical-align: top;background: #eee;border-bottom: 1px solid #ddd;font-weight: bold;">
          Qty
        </td>

        <td style="padding: 5px;vertical-align: top;background: #eee;border-bottom: 1px solid #ddd;font-weight: bold;">
          Total
        </td>

        <td style="padding: 5px;vertical-align: top;background: #eee;border-bottom: 1px solid #ddd;font-weight: bold;">
          CGST
        </td>

        <td style="padding: 5px;vertical-align: top;background: #eee;border-bottom: 1px solid #ddd;font-weight: bold;">
          SGST
        </td>

        <td
          style="padding: 5px;vertical-align: top;text-align: right;background: #eee;border-bottom: 1px solid #ddd;font-weight: bold;">
          Amount
        </td>
      </tr>

      <tr *ngFor="let product of items" class="item">
        <td style="padding: 5px;vertical-align: top;border-bottom: 1px solid #eee;">
          {{product.product.productName}}
        </td>

        <td style="padding: 5px;vertical-align: top;border-bottom: 1px solid #eee;">
          {{product.product.price}}
        </td>

        <td style="padding: 5px;vertical-align: top;border-bottom: 1px solid #eee;">
          {{product.quantity}}
        </td>

        <td style="padding: 5px;vertical-align: top;border-bottom: 1px solid #eee;">
          {{product.product.price*product.quantity}}
        </td>

        <td style="padding: 5px;vertical-align: top;border-bottom: 1px solid #eee;">
          {{(product.product.price*product.quantity)*(product.product.gst/200)}}

        </td>

        <td style="padding: 5px;vertical-align: top;border-bottom: 1px solid #eee;">
          {{(product.product.price*product.quantity)*(product.product.gst/200)}}
        </td>

        <td style="padding: 5px;vertical-align: top;text-align: right;border-bottom: 1px solid #eee;">
          {{product.total }}
        </td>
      </tr>

      <tr class="total" style="margin-left: auto; 
      margin-right: 0;">
        <td style="padding: 5px;vertical-align: top;"></td>
        <td style="padding: 5px;vertical-align: top;"></td>
        <td style="padding: 5px;vertical-align: top;"></td>
        <td style="padding: 5px;vertical-align: top;"></td>
        <td style="padding: 5px;vertical-align: top;"></td>
        <td style="padding: 5px;vertical-align: top;"></td>

        <td style="padding: 5px;vertical-align: top;text-align: right;border-top: 2px solid #eee;font-weight: bold;">
          Total: {{purchase.total}}
        </td>
      </tr>

      <tr class="total" style="margin-left: auto; 
      margin-right: 0;">
        <td style="padding: 5px;vertical-align: top;"></td>
        <td style="padding: 5px;vertical-align: top;"></td>
        <td style="padding: 5px;vertical-align: top;"></td>
        <td style="padding: 5px;vertical-align: top;"></td>
        <td style="padding: 5px;vertical-align: top;"></td>
        <td style="padding: 5px;vertical-align: top;"></td>

        <td style="padding: 5px;vertical-align: top;text-align: right;border-top: 2px solid #eee;font-weight: bold;">
          Discount: {{purchase.discount}}
        </td>
      </tr>

      <tr class="total" style="margin-left: auto; 
      margin-right: 0;">
        <td style="padding: 5px;vertical-align: top;"></td>
        <td style="padding: 5px;vertical-align: top;"></td>
        <td style="padding: 5px;vertical-align: top;"></td>
        <td style="padding: 5px;vertical-align: top;"></td>
        <td style="padding: 5px;vertical-align: top;"></td>
        <td style="padding: 5px;vertical-align: top;"></td>

        <td style="padding: 5px;vertical-align: top;text-align: right;border-top: 2px solid #eee;font-weight: bold;">
          Grand Total: {{purchase.grandTotal}}
        </td>
      </tr>

    </table>
  </div> -->
  <!-- <button></button> -->

  <div id="PrintInvoice" >
    <header>
      <h2 style="text-align: center; margin-top: 10px">INVOICE</h2>
      <div style="display: flex">
        <div style="text-align: left; width: 50%; padding-left: 20px">
          <h3>Yovan Technolgies</h3>
          <p style="margin: 3px">Namakkal, Erode</p>
          <p style="margin: 3px">Tamilnadu</p>

          <h5>BILLING TO:</h5>
          <p style="margin: 3px">{{seller.sellerName}}</p>
          <p style="margin: 3px">{{seller.mobile}}</p>
          <p style="margin: 3px">{{seller.address1}}</p>
        </div>

        <div style="text-align: right; width: 50%; padding-right: 20px">
          <h5>Invoice No:</h5>
          <p>{{purchase.invoice}}</p>
          <h5>Invoice Date:</h5>
          <p>{{purchase.purchaseDate}}</p>
        </div>
      </div>
    </header>

    <!-- <hr style=" width: 98%;"> -->

    <table
      style="
        font-family: arial, sans-serif;
        width: 95%;
        padding-top: 55px;
        margin: 0px auto;
      "
    >
      <tr style="text-align: left">
        <th
          style="
            text-align: left;
            border-bottom: 2px solid #dddddd;
            padding: 8px;
            width: 50%;
          "
        >
          ITEM
        </th>
        <th
          style="
            text-align: center;
            border-bottom: 2px solid #dddddd;
            padding: 8px;
            width: 15%;
          "
        >
          RATE
        </th>
        <th
          style="
            text-align: center;
            border-bottom: 2px solid #dddddd;
            padding: 8px;
            width: 5%;
          "
        >
          QTY
        </th>
        <th
          style="
            text-align: center;
            border-bottom: 2px solid #dddddd;
            padding: 8px;
            width: 10%;
          "
        >
          CGST
        </th>
        <th
          style="
            text-align: center;
            border-bottom: 2px solid #dddddd;
            padding: 8px;
            width: 10%;
          "
        >
          SGST
        </th>
        <th
          style="
            text-align: center;
            border-bottom: 2px solid #dddddd;
            padding: 8px;
            width: 10%;
          "
        >
          PRICE
        </th>
      </tr>

      <tr *ngFor="let product of items">
        <td
          style="padding-left: 5px; padding-top: 10px; padding-bottom: 10px"
        >
        {{product.product.productName}}
        </td>
        <td
          style="
            text-align: center;
            padding-left: 5px;
            padding-top: 10px;
            padding-bottom: 10px;
          "
        >
        {{product.product.price}}
        </td>
        <td
          style="
            text-align: center;
            padding-left: 5px;
            padding-top: 10px;
            padding-bottom: 10px;
          "
        >
        {{product.quantity}}
        </td>
        <td
          style="
            text-align: center;
            padding-left: 5px;
            padding-top: 10px;
            padding-bottom: 10px;
          "
        >
        {{(product.product.price*product.quantity)*(product.product.gst/200)}}
        </td>
        <td
          style="
            text-align: center;
            padding-left: 5px;
            padding-top: 10px;
            padding-bottom: 10px;
          "
        >
        {{(product.product.price*product.quantity)*(product.product.gst/200)}}
        </td>
        <td
          style="
            text-align: center;
            padding-left: 5px;
            padding-top: 10px;
            padding-bottom: 10px;
          "
        >
        {{product.total }}
        </td>
      </tr>


    </table>

    <table
      style="
        font-family: arial, sans-serif;
        width: 95%;
        margin: 0px auto;
        padding-top: 50px;
      "
    >
      <tr style="text-align: left">
        <th style="text-align: left; padding: 8px; width: 50%"></th>
        <th style="text-align: center; padding: 8px; width: 15%"></th>
        <th style="text-align: center; padding: 8px; width: 5%"></th>
        <th style="text-align: center; padding: 8px; width: 10%"></th>
        <th
          style="
            text-align: right;
            border-bottom: 2px solid #dddddd;
            border-top: 2px solid #dddddd;
            padding: 8px;
            width: 12%;
          "
        >
          Total
        </th>
        <th
          style="
            text-align: center;
            border-bottom: 2px solid #dddddd;
            border-top: 2px solid #dddddd;
            padding: 8px;
            width: 10%;
          "
        >
        {{purchase.total}}
        </th>
      </tr>
      <tr>
        <td
          style="padding-left: 5px; padding-top: 10px; padding-bottom: 10px"
        ></td>
        <td
          style="
            text-align: center;
            padding-left: 5px;
            padding-top: 10px;
            padding-bottom: 10px;
          "
        ></td>
        <td
          style="
            text-align: center;
            padding-left: 5px;
            padding-top: 10px;
            padding-bottom: 10px;
          "
        ></td>
        <td
          style="
            text-align: center;
            padding-left: 5px;
            padding-top: 10px;
            padding-bottom: 10px;
          "
        ></td>
        <td
          style="
            text-align: right;
            padding-left: 5px;
            padding-top: 10px;
            padding-bottom: 10px;
          "
        >
          Discount
        </td>
        <td
          style="
            text-align: center;
            padding-left: 5px;
            padding-top: 10px;
            padding-bottom: 10px;
          "
        >
        {{purchase.discount}}
        </td>
      </tr>

      <tr style="text-align: left">
        <th style="text-align: left; padding: 8px; width: 50%"></th>
        <th style="text-align: center; padding: 8px; width: 15%"></th>
        <th style="text-align: center; padding: 8px; width: 5%"></th>
        <th style="text-align: center; padding: 8px; width: 10%"></th>
        <th
          style="
            text-align: right;
            border-bottom: 2px solid #dddddd;
            border-top: 2px solid #dddddd;
            padding: 8px;
            width: 12%;
          "
        >
          Grand Toatal
        </th>
        <th
          style="
            text-align: center;
            border-bottom: 2px solid #dddddd;
            border-top: 2px solid #dddddd;
            padding: 8px;
            width: 10%;
          "
        >
        {{purchase.grandTotal}}
        </th>
      </tr>
    </table>
  </div>
</ion-content>

<ion-footer>
  <ion-button (click)="shareViaWhatsApp()" expand="block">Share The Purchased Item Details</ion-button>
  <ion-toolbar  (click)="downloadInvoice()" color="success" class="ion-padding-horizontal">
    <div class="ion-text-center">
      <h4 class="ion-no-margin">Download Invoice</h4>
    </div>
  </ion-toolbar>
</ion-footer>